<%- include('./partials/header.ejs') %>
    <main>
        <h1>A propos - Pokédex</h1>
        <p>Nous avons créer ce site dans le but de nous entrainer à pratiquer le HTML, CSS, JavaScript, Node.js et Express.js dans le cadre de note formation en développement web</p>
    </main>
<%- include('./partials/footer.ejs') %>