<%- include('./partials/header.ejs') %>

<main>
<ul><li>Combat</li>
    <li>Dragon</li>
    <li>Eau</li>
    <li>Electrique</li>
    <li>Feu</li>
    <li>Glace</li>
    <li>Insecte</li>
    <li>Normal</li>
    <li>Plante</li>
    <li>Poison</li>
    <li>Psy</li>
    <li>Roche</li>
    <li>Sol</li>
    <li>Spectre</li>
    <li>Vol</li></ul>



</main>



<%- include('./partials/footer.ejs') %>