<%- include('./partials/header.ejs') %>

<main>
<ul>
    <% for(const type of listTypes) { %>
        <li><a href="/categories/<%= type %>"><%= type %></a></li>
        <% } %>
</ul>
</main>



<%- include('./partials/footer.ejs') %>