<%- include('./partials/header.ejs') %>
    <main>
        <h1>Bienvenue sur votre Pokedex</h1>
        <p>Ce site répertorie la liste des 150 pokémons de la première génération</p>
    </main>
<%- include('./partials/footer.ejs') %>